/* mobile/global styles */
:root {
  --primary-color: white;
}

[data-theme="dark"] {
  --primary-color: black;
}

body {
  background-color: var(--primary-color);
}

.theme-switch-wrapper {
  display: flex;
  align-items: center;

}

.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.theme-switch input {
  display: none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 26px;
}

input:checked+.slider {
  background-color: green;
  ;
}

input:checked+.slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
  justify-content: space-around;
}



h1 {
  text-align: center;
  text-decoration: underline;
  display: flex;
  align-items: center;
  font-family: Arial;
}

h2 {
  font-family: Arial;
  background-color: blue;
  text-align: center;
  border-radius: 10px;
  text-decoration: underline;
  padding: 5px;
}

h3 {
  font-family: Arial;
  text-decoration: underline;
  background-color: grey;
  margin: auto;
  padding: 5px;
  border-radius: 10px;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

}

nav a {
  padding: 1em;
  background: red;
  text-decoration-color: black;
  color: white;
  transition: all 1s;
  font-family: Arial;
  display: block;
  overflow: hidden;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

#Home {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;


}

#Reviews {
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

nav a:hover {
  background-color: black;
}

.title {
  display: flex;
  justify-content: space-between;
  background-color: red;
  border-radius: 15px;
  padding-bottom: 0;
  margin-bottom: 1em;
}


.Tlogo img {
  width: 150px;
  height: 80px;
  margin-left: auto;
  border-radius: 15px;
  float: right;
}

.content-homepage {
  font-family: Arial;
  border-radius: 15px;
  margin-bottom: 150px;
  background-color: white;
}

.image-container-content {
  display: flex;
  justify-content: center;
}

.slider-image {
  width: 150px;
}

.story-content {
  font-family: Arial;
  border-radius: 20px;
  margin-bottom: 150px;
  background-color: white;
}

.story-content img {
  width: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.guides-content {
  background-color: white;
  border-radius: 15px;
}

.G-content {
  font-family: Arial;
  margin-bottom: 100px;
}

.review-content {
  margin-bottom: 50px;
}

.R-content {
  font-family: Arial;
  background-color: white;
  border-radius: 10px;
  margin-bottom: 100px;
}

.Character-description {
  background-color: white;
}

.C-content {
  font-family: Arial;
  margin-top: auto;
  padding-left: 5px;
  border-color: grey;
}

.form-content {
  background-color: white;
  border-radius: 10px;
  padding-bottom: 100px;
}

textarea {
  height: 300px;
  width: 85%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 17px;
  text-align: left;
}

.form-input-button {
  margin: 10px 50px 50px 50px;
}

.bottom-menu-bar {
  display: flex;
  justify-content: center;
  background: black;
  padding: 10px;
  margin-top: 20px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.bottom-menu-bar a {
  margin: 15px;
  background: red;
  padding: 10px;
  font-family: Arial;
  text-decoration: none;
  color: white;
  overflow: hidden;
}

.bottom-menu-bar a:hover {
  background-color: blue;

}

.character-content {
  border-radius: 1px;
}

.Character-description {
  border: 5px solid grey;
  margin-bottom: 20px;
  border-radius: 23px;
}

.star {
  color: goldenrod;
  font-size: 2.0rem;
  padding: 0 1;
}

.star::before {
  content: '\2606';
  cursor: pointer;
}

.star.rated::before {
  content '\2605';
}

.stars {
  counter-reset: rateme 0;
  font-size: 2.0rem;
  font-weight: 900;
}

.star.rated {
  counter-increment: rateme 1;
}

.stars::after {
  content: counter(rateme) '/5';
}


/* desktop style*/
@media screen and (min-width: 1000px) {
  nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-right: 250px;
    margin-left: 250px;

  }

  nav a {
    padding: 1em;
    background: red;
    text-decoration-color: black;
    color: white;
    transition: all 1s;
    font-family: Arial;
    display: block;
    overflow: hidden;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
  }

  h2 {
    margin-top: 0px;
    padding: 15px;
  }

  .content-homepage {
    margin: 50px 225px 0px 225px;
    border: 5px solid blue;
    border-radius: 20px;
    background-color: white;
  }

  .slider-image {
    width: 300px;
  }

  .story-content {
    margin: 50px 225px 150px 225px;
    border: 5px solid blue;
    border-radius: 20px;
    background-color: white;

  }

  .story-content img {
    width: 600px;
    display: block;
    margin: auto;
    margin-top: 20px;
  }

  .big-pane {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
  }

  .Character-description {
    border: 5px solid grey;
    padding: auto;
    margin: 10px;
    text-align: center;
  }

  .character-content {
    margin: 100px;
    border: 5px solid blue;
    border-radius: 20px;
  }

  .guides-content {
    border: 5px solid blue;
    margin: 50px 50px 100px 50px;
    background-color: white;
    border-radius: 20px;
  }

  .reivew-content {
    border: 5px solid blue;
    margin: 50px 100px 100px 100px;
    background-color: white;
    border-radius: 20px;
  }

  .form-content {
    border: 5px solid blue;
    border-radius: 20px;
    margin: 50px 100px 500px 100px;
    padding-bottom: 500px;
  }

  .form-input-button {
    margin: 10px 0px 0px 625px;

  }

  .stars {
    margin: 0px 0px 25px 100px;
  }
}
